@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;

}

.heading img {
    width: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 10px;
    gap: 13px;
    padding: 10px;
}

.footer a {
    color: grey;
}

.library {
    position: relative;
    min-height: 80vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.playlist {
    padding: 16px;
}

.playlist h1 {
    padding: 20px;
}

.card_container {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .8s;
}
.card:hover{
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    --a:1;
}
.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.playbtn {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;

}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(150, 150, 150);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    width: 80px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.loginbtn:hover {
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 29px;
    width: 70vw;
    min-height: 40px;
    filter: invert(1);
    background: #dad5d5;
    padding: 12px;
    border-radius: 10px;
}

.songbtn {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    width: 40px;
    cursor: pointer;
}

.hamburgericon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.close {
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white;
    margin: 12px 0;
    border-radius: 5px;
    justify-content: space-between;
    overflow: auto;
}

.songlist .info {
    font-size: 14px;
    width: 344px;
}

.playnow {
    display: flex;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 2px;
    width: 96%;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;

}

.songbtn img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 223px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.infobar {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .timevol {
        flex-direction: column;
        gap: 13px;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
    }

    .card {
        width: 45vw;
    }

    .card_container {
        margin: 0;
        justify-content: center;
    }

    .infobar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .card_container{
        max-height: 40vh;
    }
}
@media (max-width: 750px) {
    .card{
        width: auto;
    }
    .card_container{
        max-height: 45vh;
    }
}